<table class="table table-striped row-highlight table-condensed">
    <tr class="snippets-header">
        <td>Nombre</td>
        <td>Descripción</td>
        <td>Snippet</td>
        <td>Uso</td>
        <td>Ruta</td>
    </tr>
    {{#snippets}}
        <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td><a class="snippets-trigger" data-trigger="{{trigger}}">{{trigger}}</a></td>
            <td>{{usage}}</td>
            <td><a class="snippets-source" data-source="{{source}}">{{source}}</a></td>
        </tr>
    {{/snippets}}
</table>